.biography p {
  text-indent: 1rem;
}

.heroImage {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 40vh;
  object-fit: fill;
  animation: fadeIn 0.3s ease-in 0 infinite both;
  animation: fadeIn duration timing-function delay iteration-count direction fill-mode;
}